body {
    background-color: #f8f9fa;
}
 main {
    max-height: 80vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Add some padding */
    border: 1px solid #ddd; /* Optional: Add a border for visual separation */
    border-radius: 5px; /* Optional: Add rounded corners */
    background-color: #f9f9f9; /* Optional: Light background color */
    }
    
    .navbar-brand {
        font-weight: 600; /* Bold */
        font-size: 1.5rem; /* Adjust size as needed */
        font-family: Poppins;
    }


footer {
    background-color: #f8f9fa; /* Light background */
    padding: 40px 0; /* Padding */
    margin-top: 20px; /* Space from content */
    font-family: Poppins;
}

.footer-logo {
    width: 60px; /* Adjust logo size */
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #343a40; /* Dark color */
    font-size: 1.5rem; /* Adjust icon size */
}

.social-icons a:hover {
    color: #007bff; /* Highlight color */
}
#scene-container {
    width: 100%;
    height: 80vh; /* Adjust height as necessary */
    margin-top: 20px;
}

