{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='payment.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center">Make a Donation</h1>
    <form id="paymentForm">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email-address" class="form-control" required />
        </div>
      
        <div class="form-group">
            <label for="amount">Enter Donation Amount</label>
            <input type="tel" id="amount" class="form-control" required />
        </div>

        <div class="form-submit text-center">
            <button type="submit" class="btn btn-primary" onclick="payWithPaystack()">Pay</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="{{ url_for('static', filename='payment.js') }}"></script>
{% endblock %}
